body{
background:#6ADB9A;
padding:0px;
margin:0px;
}

.Picture{
background:#482922;
height:350px;
width:600px;
margin-left:15%;
margin-top:50px;
white-space:nowrap;
float:left;
}

.Bank{
background:#2A9B92;
height:250px;
width:600px;
margin-left:15%;
float:left;
display:block;
clear:both;
}

.Hangman{
background:#43D6CE;
height:350px;
width:350px;
float:left;
margin-top:50px;

}

.Words{
background:#E76247;
height:250px;
width:350px;
float:left;
}